/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: auto;
  width: 90%;
  font-family: 'Merriweather', serif;
}
h1,
h2,
h3 {
  font-family: 'Merriweather', serif;
}
/* My Code */

/* mobile */
html {
  background-color: #663399;
}
#main-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.navigation {
  background-color: white;
}

.logo {
  border-radius: 10%;
  width: 20%;
  height: 60%;
}

.button {
  border-radius: 5%;
  border-style: solid;
  border-color: #d2691e;
  background-color: #d2691e;
  color: black;
  margin: 2%;
  cursor:pointer;
}

a {
  text-decoration: none;
  color: black;
}


nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  
}

.left-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2%;
 
}

.left-nav h1 {
  margin-left: 10%;
  font-size: 2em;
  color:#d2691e;
}

.right-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .BlackPxBorder; /*<------ MIXIN------- */
}

.right-nav li {
  margin: 2%;
}
/*  Main */

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.8em;
}

#main img {
    width: 20%;
    height: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#main p {
    font-size: 0.8em;
    padding: 1%;
    border-bottom: 2px solid #d2691e;
    
}

#main a {
    margin: 0;
}

/* Favorite Color Links <---*/ 
.adamColorLink:hover {
    background: @adamfavcolor;
}

.jacobColorLink:hover {
    background: @jacobfavcolor;
}

.danielleColorLink:hover {
    background: @daniellefavcolor;
}

.jamisonColorLink:hover {
    background: @jamisonfavcolor;
}

.bonnieColorLink:hover {
    background: @bonniefavcolor;
}

.heatherColorLink:hover {
    background: @heatherfavcolor;
}

/* END OF FAV COLORS */

  .column2 {
    justify-content: center;
  }

  #main a {
    /* margin-left: 20%; */
}
/*  End of Main */
/* Footer */
footer {
    border-top: 2px solid black;
    text-align: center;
    margin-top: 2%;
  }
  
  /* DESKTOP MEDIA QUERY 800px and above*/

  @media only screen and (min-width: 800px) {

    #main img {
        margin-left: 40%;
       
    }


    #main a {
        /* margin-left: 35%; */
    }

  /* DESKTOP MEDIA QUERY 1000px and above*/
  @media only screen and (min-width: 1000px) {
    #main img {
        margin-left: 40%;
       
    }


    .column2 a {
        margin-left: 35%;
    }
  }